.App {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: none;
}


.container {
  width: 100%;
  /* max-width: 100%; */
  max-width: 1440px;
  padding: 0px;
}

.row {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 0px !important;
}

.contact_us {
  /* width: 100%; */
  height: 54px;
  background: #0087FF;
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
  border-radius: 20px;
  padding: 0px 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;

  text-align: center;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact_us:hover { 
  height: 54px;
  padding: 0px 24px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #2F2F2F;
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
  border-radius: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #2F2F2F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact_us2 {
  /* width: 127px; */
  height: 54px;
  padding: 0px 24px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #2F2F2F;
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
  border-radius: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #2F2F2F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact_us2:hover, .whats_in_buttons:hover {
  /* width: 100%; */
  height: 54px;
  background: #0087FF;
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
  border-radius: 20px;
  padding: 0px 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;

  text-align: center;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.whats_in_buttons {
  box-sizing: border-box;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;
  gap: 8px; */

  /* width: 394px; */
  height: 54px;
  padding: 0px 24px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #2F2F2F;
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
  border-radius: 20px;

  height: 54px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #2F2F2F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#inner {
  width: 500px;
  overflow: hidden !important
}

#platform {
  width: 227%;
  height: 90px;
  position: relative;
  /* top: 150px; */
  right: 0;
  transform: translate(40%);
  margin-left: auto;
  animation: move 35s linear infinite;
  display: flex;
  align-items: center;
}

/* #platform a {
} */

.slick-slide {
  width: 20% ;
  height: 135px;
  margin-top: 45px;
}
.slick-slide .phoenix_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: 25px !important;
}

.slick-slide .hosh_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: 25px !important;
}

.slick-slide .bauer_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: 20px !important;
}

.slick-slide .bim_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: 15px !important;
}

.slick-slide .lubbing_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: 10px !important;
}

.slick-slide .wago_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: 10px !important;
}

.slick-slide .selve_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: 10px !important;
}

.slick-slide .vatten_a{
  width: 128px !important;
  display: inline-block !important;
  margin-left: -80px !important;
}



.slick-slide .volks_a{
  margin-left: -50px !important;
}

.slick-slide .vono_a{
  margin-left: -60px !important;
}

.slick-slide .bvg_a{
  margin-left: -20px !important;
}

.slick-slide .fugitsu_a{
  margin-left: -65px !important;
}

.slick-slide .gfr_a{
  margin-left: -50px !important;
}

.slick-slide .hermos_a{
  margin-left: -110px !important;
}

.slick-slide .lae_a{
  margin-left: -110px !important;
}


.slick-slide .trio_a{
  margin-left: -120px !important;
}

.slick-slide .trio_a{
  margin-left: -120px !important;
}

.slick-slider {
  height: 100%;
  width: 95% ;
  margin-left: 32px;
}

.slick-next:before, .slick-prev:before {
  color: #2f2f2f;
}

.build_twins {
  width: 84.85px !important;
  height: 38px;
  cursor: pointer;
  /* margin-left: 178px; */
  margin-top: 22px;
}

.build_twins:hover {
  -ms-transform: scale(50); 
  -webkit-transform: scale(50); 
  transform: scale(2.0, 2.0) !important;
  /* height: 109px; */
}

.build_twins_horn_a{ 
  display: flex;
  align-items: center;
  /* margin-right: 75px; */
  width: 146px !important;
  margin-left: -32px !important;
}


.build_twins_horn{
  width: 140px !important;
  height: 16px;
  cursor: pointer;
  /* margin-left: 178px; */
  margin-top: 32px;
}


.build_twins_horn:hover{
  -ms-transform: scale(10); 
  -webkit-transform: scale(10); 
  transform: scale(1.5, 1.5) !important;
  /* height: 130px; */
}

.bvg {
  width: 75.85px !important;
  height: 40px;
}

.volks {
  width: 155px !important;
}

.dabbel {
  width: 110.85px !important;
  height: 70px;
}

.gfr {
  height: 48px;
  width: 45px !important;
}

.vatten {
  width: 150px !important;
  /* height: 110px !important; */
}

.vatten:hover{
  -ms-transform: scale(10); 
  -webkit-transform: scale(10); 
  transform: scale(1.5, 1.5) !important;
  /* height: 130px; */
}




@keyframes move {
  to {
    right: 255%;
    transform: translate(0);
  }
}
/* .slick-slide {
  width: 150px !important;
} */

.slick-slide div{
  /* width: 85px !important; */
  margin: 0px 32px
}

.sub_move_towards_body{
  width: 100%;
  height: 180px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(3 24 43 / 25%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub_move_towards_body_de{
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 165px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(3, 24, 43, 0.25);
  border-radius: 20px;
}

.project_home {
  margin-left: 15px !important;
}





/* .sub_move_towards_body:hover {
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
  -ms-transform: scale(50); 
  -webkit-transform: scale(50); 
  transform: scale(1.05); 
} */


.sub_move_towards_head {
  font-size: 24px;
  font-weight: 600px;
  line-height: 29px;
  /* width: 400px; */
  height: 29px;
  /* fontSize: '20px', lineHeight:'32px', fontWeight: '700' */
}

.sub_move_towards_content {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* padding: 0px 34px; */
  margin-top: 12px;
  width: 370px;
  height: 96px;
  margin-left: 15px;
  
  /* padding: 0px; */
  /* fontSize: '20px', lineHeight:'32px', fontWeight: '700' */
}

.sub_move_towards_content_de{
  /* min-width: 300px; */
  max-width: 445px;
  margin-top: 20px;
 }

.for_bld_owners_img1 {
  width: 100%;
  margin-top: 65px;
  /* height: 461px; */
  margin-left: 5px
}

.for_bld_owners_img2 {
  width: 100%;
  margin-top: 65px;
  margin-left: 10px;
  /* height: 432px; */
}

.for_bld_owners_img3 {
  width: 96%;
  margin-top: 65px;
  margin-left: 5px;
  /* height: 481px; */
}

.for_bld_owners_img4 {
  width: 100%;
  margin-top: 65px;
  margin-left: 5px;
  /* height: 579px !important; */
}

.for_bld_owners_img5 {
  width: 100%;
  margin-top: 25px;
  /* height: 525px; */
  margin-left: 5px;
}

.for_bld_owners_content_box {
  /* width: 665px !important; */
  color:#2f2f2f;
  height: 100%;
  margin-left: -17px;
}

.for_bld_owners_content_box2 {
  /* width: 663px !important; */
  color:#2f2f2f;
  height: 100%;
  margin-left: 5px;
}

.for_bld_owners_content_box3 {
  /* width: 610px !important; */
  color:#2f2f2f;
  height: 100%;
  margin-left: 32px;
}

.for_bld_owners_content_box4 {
  /* width: 665px !important; */
  color:#2f2f2f;
  height: 100%;
  margin-left: -20px;
}

.for_bld_owners_content_box5 {
  /* width: 665px !important; */
  color:#2f2f2f;
  height: 100%;
  margin-left: 5px;
}

.for_bld_owners_content_box6 {
  /* width: 665px !important; */
  color:#2f2f2f;
  height: 100%;
  margin-left: -8px;
}

.for_bld_owners_content_caption {
  /* width: 249px; */
  /* height: 32px; */
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
  /* Blues/Blue */

  color: #0087FF;
}

.for_bld_owners_content_head {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  /* height: 100%; */
  width: 100%;
  margin-bottom: 24px;
  /* or 138% */


  /* Blacks/Black 100% */

  color: #2F2F2F;
}

.for_bld_owners_content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 42px;
  /* or 160% */


  /* Blacks/Black 100% */
  /* height: 128px; */
  color: #2F2F2F;

}

.access_your_head {
  height: 86px;
  margin-top: 64px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.0025em;
  color: #2F2F2F;
}

.access_your_content {
  height: 81px;
  width: 450px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.3px;
  color: #2F2F2F;
  margin-top: 24px;
}

.access_your_img_container {
 width: 580px;
 height: 400px;
 margin-top: 63px;
}

.partner_company {
  width: 264px;
  height: 128px;
}

.partner_company img {
  margin-top: 30px;
}

.weSupport {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #2F2F2F;
}





.abc:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}




.project_nums {
  margin-top: -65px;
  /* padding-bottom: 45px; */
  /* width: 585px; */
  font-size: 14px;
  margin-left: 0px;
}

.project_nums_center {
  text-align: left;
  margin: 0px 48px;
  flex-direction: column;
}

.project_nums2 {
  margin-top: -25px;
  padding-bottom: 25px;
  width: 645px;
}

.get_in_touch {
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */

text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

/* Blacks/Black 100% */

color: #2F2F2F;
}

.modelling_box {
  width: 434px;
  height: 139px;
}

/* .home_first_image{
  width: 750px; 
  height: 688px;
} */

.home_first_image img{
  /* margin-left: 365px;  */
    position: absolute;
    top: 12%;
    width: 633px;
    color: #2F2F2F;
    left: 51%;
}

.project_outline {
  box-shadow: 0px 4px 4px rgba(3, 24, 43, 0.25);
  border-radius: 20px;
}

.project_outline:hover {
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
}

@media only screen and (min-width: 114px) { 
 .project_outline {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  justify-content: center;
}
}

@media only screen and (min-width: 780px) { 
 .project_outline {
  flex-direction: row;
  display: flex;
  margin-left: 10px;
  justify-content: center;
}
}

.service_3d_head {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.0025em;
  color: #2F2F2F;
}

.project_first_content_block {
  width: 102%;
  margin-top: 75px;
  max-width: 100%;
  text-align: left;
}

.projectImage{
  width: 100%;
  height: 597px;
  border-radius: 20px !important;
}

.project_icons {
  width: 24px;
  height: 24px;
}

.project_icon_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2F2F2F;
}

.project_content_body {
  width: 95%;
  height: 512px;
  margin-top: 70px;
  margin-left: 32px;
}

.project_wago_content_body {
  width: 95%;
  height: 512px;
  margin-top: 40px;
  margin-left: 32px;
}

.project_blue_head {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  height: 32px;
}

.project_head {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;  
  height: 55px;
}

.project_content {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.3px;
  color: #2F2F2F;
}

.single_project_blue_head {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0087FF;
}

.single_project_main_head {
  margin-top: 16px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0.002em;
  color: #2F2F2F;
  height: 70px;
}

.single_project_main_head_de {
  margin-top: 16px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  letter-spacing: 0.002em;
  color: #2F2F2F;
  height: 70px;
  width: 93%;
}

.single_project_location_head {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4EA0FD;
}

.single_project_content {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  width: 1005px !important;
  height: 96px;
}

.mann_project_content {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  width: 983px !important;
  height: 96px;
}

.single_project_content_de {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  width: 845px !important;
  height: 96px;
}

.single_service_content_de {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  width: 970px !important;
  height: 96px;
}

.single_service_content {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  width: 930px !important;
  height: 96px;
}

.control_service_content_de {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  width: 1007px !important;
  height: 96px;
}

.control_service_content {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  width: 997px !important;
  height: 96px;
}

.single_project_desc_image {
  width: 45% !important;
  height: 670px;
  border-radius: 20px;
  margin-left: 15px;
}

.single_project_desc {
  width: 50% !important;
  height: 580px;
  margin-left: 20px;
  margin-top: 45px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.single_project_desc_head {
  margin-top: 35px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.005em;
  color: #373F41;
  height: 60px;
  margin-left: 15px;
  width: 97% !important;

}

.single_project_desc_p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-left: 15px;
  /* height: 64px; */
  width: 99% !important;
  color: #2F2F2F;
  /* margin-bottom: 40px; */
}








.mann_project_desc_image {
  width: 45% !important;
  height: 670px;
  border-radius: 20px;
  margin-left: 15px;
}

.mann_project_desc {
  width: 50% !important;
  height: 580px;
  margin-left: 20px;
  margin-top: 35px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.mann_project_desc_head {
  margin-top: 35px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.005em;
  color: #373F41;
  height: 60px;
}

.mann_project_desc_head_de {
  margin-top: 10px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.005em;
  color: #373F41;
  height: 60px;
}

.mann_project_desc_p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* height: 64px; */
  /* width: 665px !important; */
  color: #2F2F2F;
  /* margin-bottom: 40px; */
}

@media only screen and (max-width: 556px) { 
  .modelling_box {
    width: 434px;
    height: 139px;
  }
}


 
  @media only screen and (max-width: 1300px) {
    /* .home_first_image{
      margin-left: 105px;
    } */

    .project_nums {
      width: 100%;  
    }

    .project_nums2 {
      width: 100%;  
    }
  }

.home_first_row {
  /* display: flex; */
margin-top: 120px;
}

.home_first_content {
  /* width: 896px; */
  margin-left: 10px;
  /* height: 593px; */
  /* margin-bottom: 62px; */
}

.home_first_content_head {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0.002em;
  color: #2F2F2F;
  height: 140px;
  /* width: 70%; */
}

.home_first_content_head_de {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0.002em;
  color: #2F2F2F;
  height: 140px;
  width: 750px;
}

.home_first_subcontent {
  margin-top: 32px;
  margin-bottom: 35px;
  height: 96px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
}
.home_first_subcontent1 {
  margin-top: 162px;
  margin-bottom: 80px;
  height: 96px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
}
.home_first_subhead {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: #2F2F2F;
}

.home_first_nums {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #2F2F2F;
}

.home_first_nums_p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2F2F2F;
 }

 .weCreatedHead {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #2F2F2F;
  margin-top: 40px;
 }

.clientImageBox {
  width: 225px;
  height: 128px;
}

.clientImageBox img {
  width: 200px;
  /* height: 128px; */
}

.project_name_head {
cursor: pointer;
}

.MuiStep-root{
  display: flex;
}

.steeper {
  width: 98% !important;
}

.MuiBox-root  {
  width: 100% !important;
  max-width: 100% !important;

}

.MuiStepLabel-root {
  width: 160%;
  height: 50px;
}

.MuiStepContent-root {
  border-left: none !important;
}

.MuiStepContent-root {
  width: 150%;
}


.stepper_desc_head {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #2F2F2F;
}

.stepper_desc_p_de {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  margin-bottom: 40px;
  /* width: 730px; */
}

.control_stepper_desc_p_de {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  margin-bottom: 40px;
  /* width: 675px; */
}

.stepper_desc_p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  margin-bottom: 40px;
  /* width: 710px; */
}

.stepper_desc_img{
  width: 100%;
  /* height: 435px; */
}

.stepperService_desc_img{
  width: 100%;
}



.results_benefits_head {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.005em;
  color: #2F2F2F;
  margin-bottom: 21px;
}

.results_benefits_content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2F2F2F;
  margin-bottom: 40px;
  /* width: 670px; */
}

.results_benefits_subhead {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2F2F2F;
  margin-bottom: 16px;
  /* width: 655px; */
}

.discover_how {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2F2F2F;
}


.phoenix_stepper{ 
  padding: 0px 80px;
}

.allsteper {
  display: flex;
  width: 100% !important;
}

.allsteper2 {
  display: flex;
  padding: 0 65px;
  margin-top: 30px;
  width: 98% !important;
}

.allsteper3 {
  display: flex;
  padding: 0 105px;
  margin-top: 30px;
  width: 98% !important;
}

.stepLabel {
  width: 50%;
  display: flex;
}

.tab-content{
  width: 50%;
}

.tab-content .tab-pane{
  background-color: white;
}

.nav-pills .nav-link {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #2F2F2F;
}

.nav-pills .nav-link.active {
  background: #FAFBFC;
  padding: 0px;
  font-style: normal;
  z-index: -2;
  padding: 14px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #2F2F2F;
}

.nav-pills .nav-link.active .circle {
  width: 23px;
  height: 23px;
  margin-left: -2px;
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
}

.service .nav-pills .nav-link {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #2F2F2F;
  margin-left: -30px;
}

.service .nav-pills .nav-link.active {
  background: #FAFBFC;
  padding: 0px;
  font-style: normal;
  z-index: -2;
  padding: 14px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #2F2F2F;
  border-radius: 20px;
  margin-left: -30px;
}

.service .nav-pills .nav-link.active .circle {
  width: 23px;
  height: 23px;
  margin-left: -2px;
  box-shadow: 0px 4px 4px rgba(0, 135, 255, 0.25);
}

.subcontent {
  width: 100%;
  /* margin-left: 25px; */
}

/* .subcontent img {
  width: 80%;
  margin-top: 20px;
} */
/* 
.subcontent p {
  width: 80%;
} */


.subcontent2 {
  width: 100%;
  /* margin-left: 25px; */
}
/* 
.subcontent2 img {
  width: 90%;
  margin-top: 20px;
}

.subcontent2 p {
  width: 90%;
} */











.step {
  
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  background-color: cream;
}

.v-stepper {
  position: relative;
  /* top: 115px; */
/*   visibility: visible; */
}


/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  margin-right: 16px;
  /* margin-top: 74px; */
  width: 20px;    /* +6 for border */
  height: 20px;
  display: inline-block;
}

.service_row .step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  margin-right: 16px;
  margin-top: 34px;
  width: 20px;    /* +6 for border */
  height: 20px;
  display: inline-block;
}

.v-stepper:first-child .circle {
  margin-top: 10px;
  margin-left: 5px;
}

.v-stepper:first-child .line {
  margin-top: 20px;
  margin-left: 14px;
}

.step .line {
  /* top: 75px;
  left: 9px; */
/*   height: 120px; */
  height: 105px;
  margin-left: 9px;
  margin-top: -20px;
  position: absolute;
  border-left: 3px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: #0087FF;
  border-color: #0087FF;
}

.step.completed .line {
  border-left: 3px dotted #0087FF;
}

.step.active .circle {
visibility: visible;
  border-color: #0087FF;
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
/*     visibility: hidden; */
/*   height: 150%; */
  top: 0;
  height: 150%;
}


.step:last-child .line {
  border-left: 3px dotted #0087FF;
  z-index: -1; /* behind the circle to completely hide */
}


.projectImage {
  width: 47% !important;
  /* height: 597px !important; */
  border-radius: 20px !important;
  /* margin-left: -183px !important; */
  margin-top: 5px !important;
}

@media only screen and (min-width: 1390px) { 
  /* img {
    max-width: 688px;
  } */

  .home_first_content {
    width: 97%;
    margin-left: 20px;
    /* height: 593px; */
    /* margin-bottom: 62px; */
  }

  .home_first_image img {
    /* margin-left: 365px; */
    position: absolute;
    top: 6%;
    width: 688px;
    color: #2F2F2F;
    left: 50%;
  }
  
  .for_bld_owners_img1 {
    max-width: 780px;
    margin-left: 5px;
    /* float: right; */
  }
  
  .for_bld_owners_img2 {
    max-width: 780px;
    margin-left: 10px;
  }
  
  .for_bld_owners_img3 {
    max-width: 780px;
    margin-left: 10px;
    /* float: right; */
  }
  
  .for_bld_owners_img4 {
    max-width: 780px;
    margin-left: 5px;
  }
  
  .for_bld_owners_img5 {
    max-width: 780px;
    margin-left: 13px;
    /* float: right; */
  }
  
  .for_bld_owners_content_box {
    margin-left: 20px;
  }
  
  .for_bld_owners_content_box2 {
    margin-left: 5px;
    /* float: right; */
  }
  
  .for_bld_owners_content_box3 {
    margin-left: 32px;
  }
  
  .for_bld_owners_content_box4 {
    margin-left: 15px;
  }
  
  .for_bld_owners_content_box5 {
    margin-left: 5px;
    /* float: right; */
  }
  
  .for_bld_owners_content_box6 {
    margin-left: 35px;
  }

  .sub_move_towards_content{
   width: 400px;
  }

 

  /* .home_first_content_head {
    width: 72%;
  } */

  
  .projectImage {
    /* width: 100% !important; */
    /* height: 597px !important; */
    border-radius: 20px !important;
    margin-top: 5px !important;
  }

}

@media only screen and (min-width: 1500px) { 

  .sub_move_towards_body {
    width: 100%;
    text-align: -webkit-center;
  }

  .home_first_content {
    width: 896px;
    margin-left: 15px;
  }

  .home_first_image img { 
    /* margin-left: 183px !important; */
    /* width: 939px !important; */
  }
/* 
  .home_first_content_head {
    width: 74%;
  } */
}

@media only screen and (min-width: 1530px) { 
  .project_home {
    /* width: 1420px !important; */
    margin-left: 15px !important;
  }

  .project_outline  {
    width: 100% !important;
    margin-left: 0px !important;
  }


  .projectImage {
    /* width: 100% !important; */
    /* height: 597px !important; */
    border-radius: 20px !important;
    /* margin-left: -183px !important; */
    margin-top: 5px !important;
  }

  .result_image {
    margin-left: 20px !important;
    width: 45%;
    display: flex;
    justify-content: center;
  }
  
  .result_content {
    margin-left: 20px !important;
    width: 50%;
  }

}

@media only screen and (min-width: 1537px) { 
  .mann_project_desc {
    width: 50% !important;
    margin-left: 45px !important; 
  }


  .mann_project_desc_image {
      width: 45% !important;
  }

  .single_project_desc {
    width: 50% !important;
    margin-left: 45px !important; 
  }


  /* .single_project_desc_image {
      width: 700px !important;
  } */

  /* .home_first_content_head {
    width: 75%;
  } */
}

@media only screen and (min-width: 1850px) { 
  .projectImage {
    width: 40% !important;
  }

  /* .for_bld_owners_content_box2 {
    margin-left: 75px !important;
  }
  .for_bld_owners_content_box5 {
    margin-left: 75px !important;
  } */
}

@media only screen and (min-width: 2050px) { 
  .projectImage {
    width: 35% !important;
    /* margin-left: -125px; */
  }

  .for_bld_owners_content_box2 {
    margin-left: 105px !important;
  }
  .for_bld_owners_content_box5 {
    margin-left: 105px !important;
  }
}

@media only screen and (min-width: 2250px) { 
  .projectImage {
    width: 25% !important;
    margin-left: -125px;
  }
}


/* responsive relese 1 quick fixes */

@media (min-width: 1024px) and (max-width: 1300px){
  .home__count .home_first_content_head, .home_first_content_head_de{
    font-size: 48px !important;
  }
  .home__count .home_first_subcontent{
    width: 500px !important;
    height: 160px !important;
  }
  .home__count .home_first_subcontent1{
    width: 500px !important;
    height: 120px !important;
  }
  .sub_move_towards_body{
    height: 220px;
  }
  .sub_move_towards_body .sub_move_towards_content{
    width: auto;
    margin-left: 0;
  }
  .project__wrapper .project-leading-relaxed{
    width: 475px !important;
  }
  .project-leading-header{
    width: 540px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1250px){
  .home__count .home_first_content_head, .home_first_content_head_de{
    font-size: 44px !important;
  }
  .count__numbers--served{
    margin: 0px 20px !important;
  }
  .home_first_image img{
    width: 450px !important;
    top: 32% !important;
    left: 55%;
  }
  .single_project_desc_image, .mann_project_desc_image{
    width: 300px !important;
  }
  .phoenix .Clientbenefits{
    width: 400px;
  }
  .phoenix .results_benefits_subhead{
    width: 400px !important;
  }
  .container .clientImageBox{
    width: 165px;
  }
  .home__leaf .access_your_head{
    height: auto;
  }

  .contact__leaf .contact__leaf__info{
    width: 400px !important;
  }

  .contact__leaf .contact__leaf__info .contact_head{
    width: 400px;
  }

  .contact__leaf .contact__leaf__info .contact_subhead_buttons_text{
    font-size: 12px;
    width: 140px;
    display: inline-block;
    word-break: break-word;
    height: auto;
  }
  .contact__leaf .contact__leaf__info .contact_content{
    font-size: 16px;
  }
  /* .contact__leaf .contact__leaf__form{
    width: 400px !important;
  } */

  /* .contact__leaf .contact__leaf__form .contact_form_longInput, .contact_form_shortnote{
    width: 350px !important;
  } */
  .contact_form_Iagree_div{
    width: 350px !important;
  }
  /* .contact__leaf .contact__leaf__form .contact_form_shortInput{
    width: 150px;
  } */
  .contact__leaf .contact__leaf__form .contact_form_Iagree{
    width: 300px;
    z-index: 2;
  }
  .contact__leaf .contact__leaf__form .captcha{
    z-index: 2;
  }
  .contact__leaf .contact__leaf-wrapper{
    display: flex;
    justify-content: space-evenly;
  }

}